body {
    font-family: Arial;
}
.fakebooc {
    width: 25%;
    height: 25%;
    margin: -20px;
    padding: 0px;
    border: 0;

}
h2 {
    font-size: 30px;
    text-align: center;
}
.text-pic {
    font-size: 18px;
    text-align: left;
}

#accounts {
    display: flex;
    padding: 0;

}
.avatar {
    height: 160px;
    width: 160px;
}
#login_pw {
    color:white;
}
.box {
    width: 400px;
    height: 400px;
    border: 3px solid gray;
    position: relative;
}
.confirm {
    width: 300px;
    height: 70px;
    text-align: center;
    border: 5px 5px 5px 5px;
    padding: 5px;
    position: absolute;
    bottom: 75px;
    right: 55px;

}